body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a:focus {
  outline: none;
}

a::-moz-focus-inner {
  border: 0;
}

#info {
  text-decoration: underline;
  cursor: pointer;
}

.header {
  display: inline;
}

.title {
  margin-right: 15px;
  font-size: 24px;
}

.home, .home a {
  color: gray;
}

#txt {
  width: 80em;
  height: 12em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.block {
  display: block;
}

.msg {
  color: gray;
  margin-left: 20px;
}

.res {
  font-family: 'Courier New', Courier, monospace;
  color: #111111;
  font-size: 1.3em;
  margin-top: -15px;
}

.good {
  color: green;
}

.bad {
  color: red;
}
