.header {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin-right: 15px;
  font-size: 24px;
}

#txt {
  width: 80em;
  height: 12em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.block {
  display: block;
}

.msg {
  color: gray;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.res {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3em;
  margin-top: -4px;
}

.good {
  color: green;
}

.bad {
  color: red;
}
