#txt {
  width: 80em;
  height: 25em;
  display: block;
  margin-bottom: 5px;
}

.msg {
  color: gray;
  margin-left: 20px;
  font-family: Courier;
}

.good {
  color: green;
}

.bad {
  color: red;
}
