#container {
  line-height: 300px;
  text-align: center;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.5em;
}

#info {
  position: fixed;
  border: 1px solid black;
  border-radius: 4px;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  top: 0.5em;
  right: 0.5em;
}

.kana {
  text-align: center;
  font-size: 5em;
  display: inline-block;
  padding: 1em;
  width: 80px;
  height: 100px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 100px;
}

.kana.left {
  margin-right: 0.15em;
}

.kana.right {
  margin-left: 0.15em;
}

#rep-disp {
  position: fixed;
  top: 0.15em;
  left: 0.15em;
}

#reset {
  position: fixed;
  top: 0.15em;
  right: 0.15em;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.5em;
}

#mode-disp {
  position: fixed;
  bottom: 0.15em;
  left: 0.15em;
  font-size: 1.5em;
}

#buttons {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.kana.button {
  padding: 0.2em;
  font-size: 2.5em;
  width: 40px;
  height: 50px;
  line-height: 50px;
  flex-grow: 1;
  width: calc(100% * (1 / 20) - 10px - 1px);
}

.hidden {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}
