body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a:focus {
  outline: none;
}

a::-moz-focus-inner {
  border: 0;
}

.home, .home a {
  color: gray;
}

#blockCheckbox {
  margin-top: 1em;
  margin-bottom: 1em;
  vertical-align: middle;
}

#keydisplay {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 4.5em;
}

#lowerdisplay {
  font-size: 3em;
}

.label {
  font-size: 90%;
}

.off {
  color: #DDD;
}

.good {
  color: green;
}

.bad {
  color: red;
}
