#imageContainer {
  position: relative;
  display: inline-block;
}

.side {
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 9001;
}

.hand {
  cursor: pointer;
}

#left {
  left: 0px;
  right: 50%;
}

#right {
  right: 0px;
  left: 50%;
}

.header {
  position: fixed;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
}

#navbar  {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 1.4em;
  padding-top: 10px;
  background-color: black;
  z-index: 9500;
}

#chapterSwitcher {
  position: absolute;
  top: 1.4em;
  left: 22.5em;
}

#title {
  position: absolute;
  left: 18em;
}

#loading {
  top: 4px;
  left: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 10001;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}
