#imageContainer {
  position: relative;
  display: inline-block;
}

#image.fit {
  max-height: 1600px;
  width: auto;
}

#image.nofit {
  max-height: none;
  max-width: none;
}

.side {
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 9001;
}

.hand {
  cursor: pointer;
}

#left {
  left: 0px;
  right: 50%;
}

#right {
  right: 0px;
  left: 50%;
}

.header {
  position: fixed;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
}

#navbar  {
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 1.4em;
  padding-top: 10px;
  background-color: black;
  z-index: 9500;
}

#chapterSwitcher {
  float: left;
  margin-left: 22.5em;
  margin-top: 0.6em;
}

#title {
  float: left;
  margin-left: 18px;
}

#loading {
  top: 4px;
  left: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 10001;
}

#buttonContainer {
  position: absolute;
  top: -10px;
  right: 6px;
}

.button {
  padding: 2px;
  font-size: 13px;
  font-weight: bold;
  background-color: gray;
  border-radius: 2px;
  margin-left: -4px;
  min-width: 21px;
  text-align: center;
}

#pageSwitchBar {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 4.2em;
  padding-top: 2.7em;
  z-index: 9200;
  overflow-y: auto;
}

.page {
  display: block;
  text-align: center;
}

.page.selected {
  background-color: gray;
  cursor: default;
}

.page:hover {
  background-color: lightgray;
}

.page.selected:hover {
  color: gray;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}
