table {
  border-spacing: 8px 4px;
  border-collapse: separate;
}

input, .mono {
  white-space: pre;
  font-family: "Courier New", Courier, monospace;
}

.mono {
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 0px 2px 0px 2px;
}

div {
  margin-top: 8px;
}

ul {
  margin-top: 4px;
}

.bad {
  color: red;
}
