table {
  border-spacing: 8px 4px;
  border-collapse: separate;
}

input, .mono {
  white-space: pre;
  font-family: "Courier New", Courier, monospace;
}

div {
  margin-top: 8px;
}

ul {
  margin-top: 4px;
}

.bad {
  color: red;
}
